*{
    box-sizing: border-box;
}
body{
    background-color: #EEF9BF;
    display: flex;
    justify-content: center;
}
.header{
    width: 100%;
    margin-top: 40px;
    margin-bottom: 47px;
}

.titulo{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 66px;
    letter-spacing: -0.004em;
    color: #75B79E;
    text-align: center;
}

.cartas{
    margin-left: 109px;
    margin-right: 109px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 34px;
}


.card {
    width: 117px;
    height: 146px;
    position: relative;
}
.face {
    width: 100%;
    height: 100%;
    background: #A7E9AF;
    border: 1px solid #99CEA8;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    backface-visibility: hidden;
    transition: all 0.5s;
    transform-style: preserve-3d;
    position: absolute;

}
.nomeImagem{
    display: none;
}
.back-face {
    transform: rotateY(180deg);
}
.frontEscolha{
    transform: rotateY(-180deg);
}
.backEscolha{
    transform: rotateY(0deg);
}
img{
    width: 100px;
    height: 100px;
}

@media (max-width:335px){
    body{
        flex-direction: column;
    }
    .titulo{
        font-size: 36px;
        line-height: 42px;
        text-align: center;

    }
}